:root {
  --primery-color: green;
  --primery-text-color: #e5e5e5;
  --secondary-text-color: black;
  --background-color: #111427;
}

* {
  margin: 0;
  color: var(--primery-text-color)
}

span {
  color: var(--secondary-text-color);
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}